
body {
    position: relative;
    animation-duration: 4s;
    animation-name: aparecer;
    background-color: rgb(37, 34, 34);
/*    background-image: url(../Recursos/Imagenes/nico_celular.jpg);*/

    font-family: 'Oswald', sans-serif;
    height: 100vh ;

}



a {
    text-decoration :none
   
}
li {
    list-style: none;
}

a:hover,a:visited,a:link {
    color: rgb(255, 255, 255);
    
  }

.content_cards{
    justify-content: center;
    align-items: center;
    display: flex;  
    flex-wrap: wrap;
    
}

.card {
    display: flex;
    margin: 15px;
}



.FOOTER{
    position: absolute;
    bottom: 0;

}

.section{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.content_total{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(2, 2, 2);
}

.content_precios{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(8, 8, 8);
    border-bottom: 1px, white;
    padding-left: 3px;
}

.parrafo_precio{
    text-align: justify;
}

.total{
    display: flex;
    flex-direction: column;
}

.canvas{
    color: black;
}

.section{
    display: flex;
    flex-direction: column;
}

.parrafo_contactos{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
}

.form{
    display: flex;
    flex-direction: column;
    align-items: center;
}